
.detail-item-group[data-v-98561949] {
  margin-top: 24px;
  display: inline-flex;
  align-items: flex-start;
  vertical-align: top;
}
.detail-item-group_separated[data-v-98561949] {
  margin-top: 32px;
  border-top: 1px solid #e0e0e0;
  padding-top: 32px;
}
.detail-item-group[data-v-98561949]:first-child {
  margin-top: 0;
}
.detail-item-group[data-v-98561949] .detail-item {
  margin-right: 32px;
  margin-top: 0;
}

.link-button[data-v-fb10cc6c] {
  text-decoration: underline;
  color: #2c98f0;
  cursor: pointer;
}

.uploads-table__actions[data-v-6192f044] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: normal;
}

.header-actions[data-v-e3c1e02f] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.general-tab[data-v-e3c1e02f] {
  max-width: 640px;
}
