
.dialog-input[data-v-6d4e2352] {
  display: block;
  margin-bottom: 24px;
}

.alert-holder[data-v-1d238166] {
  width: 100%;
  /* #bdbdbd */
  background-color: rgba(189, 189, 189, 0.15);
}
.alert[data-v-1d238166] {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  min-height: 64px;
  min-width: 240px;
  max-width: 600px;
  padding: 16px;
  border-radius: 2px;
  color: #bdbdbd;
}
.alert_error[data-v-1d238166] {
  /* #FF6A6A */
  background-color: rgba(255, 106, 106, 0.2);
}
.alert_info[data-v-1d238166] {
  /* 0, 85, 255 */
  background-color: rgba(0, 85, 255, 0.15);
}
.alert_success[data-v-1d238166] {
  /* #0bb071 */
  background-color: rgba(11, 176, 113, 0.15);
}
.alert_warning[data-v-1d238166] {
  /* #FFC700 */
  background-color: rgba(255, 199, 0, 0.15);
}
.alert__icon[data-v-1d238166] {
  flex: 0 0 auto;
  margin-right: 12px;
  display: flex;
}
.alert__text[data-v-1d238166] {
  flex: 1 1 auto;
  font-size: 14 px;
  line-height: 20px;
  text-align: left;
  color: #212121;
}

.credentials-card[data-v-f4793745] {
  overflow: visible;
}
.add-button-text[data-v-f4793745] {
  color: #fff;
}

.upload-schedule-card[data-v-cc40f2b1] {
  display: block;
  margin-bottom: 24px;
}

.app[data-v-2073f1a4] {
  max-width: 800px;
  margin: 0 auto;
}
