@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');
@import './variables.css';

body {
  margin: 0;
  line-height: var(--line-height-regular);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-regular);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: inherit;
}

p,
a {
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}

a {
  color: var(--color-nice-blue);
  cursor: pointer;
  text-decoration: underline;
}

a:visited,
a:hover,
a:active {
  color: var(--color-nice-blue);
}

.truncator {
  display: flex;
  min-width: 0;
  align-items: center;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assistive-color {
  color: var(--color-assistive-grey);
}

.assistive-text {
  color: var(--color-assistive-grey);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
}

/* Table cell styling for Connect UI Toolkit tables */
td {
  padding: 0 12px;
  vertical-align: middle;
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  margin: 8px 0;
  background-color: var(--color-light-grey);
}

.is-clipped {
  overflow: hidden;
}

.dot-separator:after {
  content: '•';
  line-height: var(--line-height-regular);
  font-size: var(--font-size-regular);
  margin: 0 8px;
}

/* Buttons styles */
.header-button {
  display: block;
  height: 36px;
  border: 1px solid var(--color-light-grey);
  border-radius: 2px;
}

.header-button span {
  padding: 0 8px;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.4px;
}

.header-button_menu {
  margin-left: 16px;
}

.header-button__trigger-icon {
  margin: 0 -8px;
}

.reset-button {
  border: none;
  background-color: var(--color-transparent);
  padding: 0;
  margin: 0;
  display: inline;
  text-align: left;
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}
